
<section class="intro" id="home">
  <header id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="#header">HOME</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#about" id="about-me">ABOUT</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="main-img"></div>
  <h1 id="img-txt"><span class="element"></span></h1>
</section>

<section class="portfolio" id="portfolio">
  <h2>PORTFOLIO</h2>
  
  <div class="small-images row">
    <div class="col-sm-5">
      <%= image_tag "core-imac.png", alt: "core" %>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <p><strong><small>Ruby on Rails, Javascript, Highcharts(JS), jQuery, AJAX, Postgres, Fitbit API, Materialize CSS Framework, HTML</small></strong></p>
      <p>Web application that offers users a full out personal fitness trainer experience. The user is able to track their current workout progress and a daily diet meal plan is set out for the user</p>
      <a href="https://github.com/MattMcLennan/myPersonalFitnessTrainer"><button type="button" class="btn btn-default">View on Github</button></a>
    </div>
  </div>

  <div class="small-images row">
    <div class="col-sm-5">
      <%= image_tag "foodmap-imac.png", alt: "foodmap" %>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <p><strong><small>Ruby, Sinatra, HTML, CSS, Javascript, jQuery, AJAX, Postgres, Google Maps API, Zomato API</small></strong></p>
      <p>A web application that allows users to easily find the top 10 ranked restaurants near them along with a map showing where they are located and write/read reviews on restaurants</p>
      <a href="https://github.com/MattMcLennan/foodmap"><button type="button" class="btn btn-default">View on Github</button></a>
    </div>
  </div>

  <div class="small-images row">
    <div class="col-sm-5">
      <%= image_tag "stocks-imac.png", alt: "stocks" %>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <p><strong><small>Ruby, Javascript, AJAX, jQuery, Web scraping, Rails, HTML, CSS, Bootstrap</small></strong></p>
      <p>Web application allowing a user to easily track their portfolio fundamentals (financial ratios) along with portfolio sector exposure and market cap exposure</p>
      <a href="https://github.com/MattMcLennan/Portfolio_Builder_Simple"><button type="button" class="btn btn-default">View on Github</button></a>
    </div>
  </div>
</section>

<section class="about" id="about">
  <h2>ABOUT ME</h2>
  <object data="self.svg" type="image/svg+xml"></object>
  <div class="bio">
    <p>Full stack developer who thrives and focuses on enhancing user experience through front-end development. I am currently employed in a split role between a Full Stack Developer and an Investment Analyst and have 4 years of experience as an Institutional Investment Analyst.
    <p>
    <strong>Feel free to contact me at <a href="mailto:mclennan6891@gmail.com">mclennan6891@gmail.com</a></strong></p>
  </div>
</section>

<footer>
  <div class="links">
    <a href="https://github.com/MattMcLennan"><%= image_tag "github.svg" %></a>
    <a href="https://ca.linkedin.com/in/mclennanmatthew"><%= image_tag "linkedin.svg" %></a>
    <a href="https://angel.co/matthew-mclennan"><%= image_tag "angelCo.svg" %></a>
  </div>
</footer>